.container {
  border-radius: 30px;
  border: 1px solid var(--brown);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  background: linear-gradient(97deg, rgba(160, 160, 160, 0.16) 1.12%, rgba(255, 255, 255, 0.00) 102.16%);
}