.summary {
  padding-top: 18px;
  padding-bottom: 18px;
  border-bottom: 1px solid var(--dark);
  position: relative;
  cursor: pointer;
  transition: color .3s ease-in-out;

  &:before, &:after {
    position: absolute;
    top: 20px;

    @include media-mobile {
      top: 18px;
    }
  }

  &:before {
    content: attr(data-order);
    left: 0;
  }

  &:after {
    content: '+';
    right: 0;
    font-size: 20px;

    @include media-mobile {
      font-size: 16px;
    }
  }

  &:hover {
    color: var(--primary);
    transition: color .3s ease-in-out;
  }
}

.container[open] .summary:after {
  content: '-';
}

.title {
  width: 50%;
  margin-left: auto;
  font-weight: 600;
  font-size: 20px;

  @include media-mobile {
    width: 90%;
    font-size: 16px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.content {
  max-width: 50%;
  width: 100%;
  margin-left: auto;
  margin-top: 24px;
  margin-bottom: 24px;

  @include media-mobile {
    max-width: unset;
  }

  p, h5 {
    margin-bottom: 20px;

    @include media-mobile {
      margin-bottom: 14px;
    }
  }

  h5 {
    font-size: 16px;
  }
}