.container {
  padding-top: 24px;
  padding-bottom: 24px;

  p, a {
    color: rgba(#fff, 0.5);
    font-size: 16px;
    font-weight: 500;
  }
}

.inner {
  @include flex-justify-align(space-between, center);

  @include media-mobile {
    flex-direction: column;
    align-items: baseline;
    gap: 5px;
  }
}

.frame {
  background-color: var(--dark);
}