@mixin flex-align($align-position) {
  display: flex;
  align-items: $align-position;
}

@mixin flex-justify($justify-position) {
  display: flex;
  justify-content: $justify-position;
}

@mixin flex-justify-align($justify-position, $align-position) {
  display: flex;
  justify-content: $justify-position;
  align-items: $align-position;
}

@mixin media-laptop {
  @media (max-width: $laptop-bp) {
    @content;
  }
}

@mixin media-mobile {
  @media (max-width: $mobile-bp) {
    @content;
  }
}

@mixin overflow-background {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}