.container {
  display: flex;
  gap: 25px;
  margin-top: 200px;
  margin-bottom: 200px;

  @include media-tablet {
    flex-direction: column;
  }

  @include media-mobile {
    margin-top: 100px;
    margin-bottom: 100px;
    gap: 16px;
  }
}

.title {
  flex-basis: 50%;
}

.list {
  list-style-type: none;
  display: flex;
  gap: 24px;
  flex-basis: 50%;

  @include media-tablet {
    flex-basis: unset;
    flex-direction: column;
  }

  & li {
    flex-basis: 50%;
  }
}